<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gubznf@fhogyrtenqvrag.pbz</string>
	<key>contactName</key>
	<string>Thomas Aylott</string>
	<key>description</key>
	<string>Dalvik bytecode</string>
	<key>name</key>
	<string>Android</string>
	<key>uuid</key>
	<string>DB1F9CDD-56F1-4526-845E-7F47C6BA526E</string>
</dict>
</plist>
